 
-# .flash-box
-#   チャットグループを作成しました

.side-bar
  .header
    .header__name
      saitou
    %u.header__lists
      
      %i.list
        = link_to "#" do
          = fa_icon 'edit'
      %i.icon
        = link_to "#" do
          = fa_icon 'cog'
     
  .groups
    .group
      .group__name
        text2
      .group__message 
        text3




.chat
  .header
    .left-header
 
      .left-header__title
        title
      .left-header__members
        
        .member
          member

    .right-header
      .right-header__button
        = link_to "edit"

  .messages
    .message
      .upper-message
        .upper-message__user-name
          aaa
        .upper-message__date
          aaaaa
      .lower-message
        .lower-message__content  
          aaaaaaa

  %form.form
    %input.form__message{:name => "message[content]", :placeholder => "type a message", :type => "text"}/

    .form__mask
      %input{:type => "hidden"}
      %lavel.form__mask__image{:for => "message_image"}
        %i.fa.fa-image
        %input#message_image.hidden{:name => "message[image]",:type => "file"}/
    %input.form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/


     

    

